<h1>Invitations</h1>

<br/>

<table class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |invitation|}}
			<tr>
				<td>{{invitation.id}}</td>
				<td>{{invitation.email}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
